@{
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    string currentController = ViewContext.RouteData.Values["controller"].ToString();

    bool isInNavbarPage =
        (currentController == "Cliente" && (currentAction == "Registrar" || currentAction == "Guardar" || currentAction == "Listar" || currentAction == "Informacion")) ||
        (currentController == "Entrenador" && currentAction == "Registrar");
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboardAdmin.css">
</head>

<div id="navbar">
    <img class="admin-img" src="/img/administrador.png" alt="Logo">
    <ul>
        <li>
            <a href="@Url.Action("Registrar", "Cliente")"
               class="nav-btn @(currentAction == "Registrar" && currentController == "Cliente" ? "active" : "")">
                <i class="now-ui-icons design_bullet-list-67"></i> Registrar cliente
            </a>
        </li>
        <li>
            <a href="@Url.Action("Listar", "Cliente")" class="nav-btn">
                <i class="now-ui-icons design_bullet-list-67"></i> Listar clientes
            </a>
        </li>
        <li>
            <a href="@Url.Action("Informacion", "Cliente")" class="nav-btn">
                <i class="now-ui-icons shopping_cart-simple"></i> Información cliente
            </a>
        </li>
        <li>
            <a href="@Url.Action("Registrar", "Entrenador")" class="nav-btn">
                <i class="now-ui-icons education_atom"></i> Registrar entrenador
            </a>
        </li>
        <li>
            <a href="@Url.Action("Registrar", "Entrenador")" class="nav-btn">
                <i class="now-ui-icons education_atom"></i> Registrar entrenador
            </a>
        </li>
        <li>
            <a href="@Url.Action("Registrar", "Entrenador")" class="nav-btn">
                <i class="now-ui-icons education_atom"></i> Registrar entrenador
            </a>
        </li>
    </ul>

    <img class="logo-img" src="/img/logoNegro 1.png" alt="logo2">

    <div class="actions-img">
        <img class="logout-img" src="/img/logout.png" alt="salir">

        @* Muestra la imagen "home" solo si se está dentro de alguna página del navbar *@
        @if (isInNavbarPage)
        {
            <img class="home-img visible" src="/img/home.png" alt="home">
        }
    </div>
        
</div>

<style>
    #navbar ul li a.nav-btn.active {
        background-color: #EE1C25;
        color: white;
        font-weight: 600;
    }
</style>
