
@{
    //Este Navbar es de Entrenador
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
    bool isInConsultar = (currentController == "Cliente" && (currentAction == "Listar") || currentController == "Entrenador" && (currentAction == "DashboardEntrenador"));
    bool isInPrincipalPage =
        (currentController == "Entrenador" && (currentAction == "DashboardEntrenador"));

    bool isInClienteAsignado = (currentController == "Cliente" && currentAction.StartsWith("BuscarCliente"))
    || (currentController == "PlanMejoramientoFisico" && currentAction.StartsWith("modificarPMF")) || (currentController.StartsWith("PlanMejoramientoFisico"));

    bool isInAsignarEjercicio = (currentController == "PlanMejoramientoFisico" && currentAction.StartsWith("AgregarEjercicio"));

    bool isInClientePremium = currentController == "Cliente" && currentAction.StartsWith("BuscarCliente");
    bool isInModificarPMF = (currentController == "PlanMejoramientoFisico" && (currentAction == "modificarPMF"));
    bool isInGenericGoBackPage = (currentController == "PlanMejoramientoFisico" && currentAction == "AgregarEjercicio") || (currentController == "PlanMejoramientoFisico" && currentAction == "modificarEjercicios");
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboardAdmin.css">
</head>

<div id="navbar">
    <img class="admin-img" src="/img/entrenador.png" alt="Logo">
    <ul>
        @using Microsoft.AspNetCore.Http
        @if (!isInClienteAsignado)
        {
            <li>
                <a href="@Url.Action("Listar", "Cliente")"
                   class="nav-btn @(currentAction == "Listar" && currentController == "Cliente" ? "active" : "")">
                    <i class="now-ui-icons design_bullet-list-67"></i> Clientes asignados
                </a>
            </li>

        }

        @if (isInAsignarEjercicio || isInClienteAsignado)
        {
            <li class="codigoCliente">
                <h3>
                    Codigo Cliente: <br />
                    <span>@(Context.Session.GetString("ClienteIdEjercicio") ?? "000000000")</span>
                </h3>
            </li>
        }

        @if (isInClienteAsignado && !isInAsignarEjercicio)
        {
            var clienteId = TempData["ClienteId"] as string ?? "000000000"; // Recupera el ID del cliente o usa un valor predeterminado
            <li>
                <a href="@Url.Action("modificarPMF", "PlanMejoramientoFisico", new { clienteId = clienteId })"
                   class="nav-btn @(currentAction == "modificarPMF" && currentController == "PlanMejoramientoFisico" ? "active" : "")">
                    <i class="now-ui-icons design_bullet-list-67"></i> Modificar PMF
                </a>
            </li>

            <li>
                <a href="@Url.Action("PMF", "PlanMejoramientoFisico")"
                   class="nav-btn @(currentAction == "PMF" && currentController == "PlanMejoramientoFisico" ? "active" : "")">
                    <i class="now-ui-icons design_bullet-list-67"></i> PMF
                </a>
            </li>

        }
        
    </ul>

    <img class="logo-img" src="/img/logoNegro 1.png" alt="logo2">

    <div class="actions-img">

        <a href="@Url.Action("Logout", "Cuenta")">
            <img class="logout-img" src="/img/logout.png" alt="salir">
        </a>

        @* Muestra la imagen "home" solo si no esta en la pagina principal *@
        @if (!isInPrincipalPage)
        {
            <a href="@Url.Action("Home", "Cuenta")">
                <img class="home-img visible" src="/img/home.png" alt="home">
            </a>

        }

        @if (isInClientePremium)
        {
            <a href=" @Url.Action("PaginaAnteriorClienteAsignado", "Cuenta")">
                <img class="regresarFlecha-img" src="/img/regresarFlecha.png" alt="regresar">
            </a>
        }
        @if (isInModificarPMF)
        {
            <a href=" @Url.Action("PaginaAnteriorPMF", "Cuenta")">
                <img class="regresarFlecha-img" src="/img/regresarFlecha.png" alt="regresar">
            </a>
        }
        @if (isInGenericGoBackPage)
        {
            <a href="javascript:void(0);" onclick="window.history.back()">
                <img class="regresarFlecha-img" src="/img/regresarFlecha.png" alt="regresar">
            </a>
        }
    </div>

</div>

<style>
    #navbar ul li a.nav-btn.active {
        background-color: #EE1C25;
        color: white;
        font-weight: 600;
        text-align: center;
    }

    .text-black {
        color: black;
        text-align: justify;
        font-weight: bold;
    }

    .codigoCliente{
        color: black; 
        margin-left: 50px;
        font-size:20px;
    }
</style>