@model List<NET_MVC.Models.EntrenadorModel>

@{
    ViewData["Title"] = "Listar Entrenador";
    Layout = "~/Views/Admin/_LayoutAdministrador.cshtml";
}

<div class="container-grande">
    <div class="text-Asignar" style="text-align: center; color: #EE1C25; font-size: 50px; font-style: italic; font-weight: 900; line-height: 70px; word-wrap: break-word">
        ENTRENADORES
    </div>

    <div class="filter-total-container">
        <h3 class="total-text">Total encontrados: <span id="total-entrenadores">@Model?.Count</span></h3>
        <div class="filter-container">
            <select id="filter" class="form-control custom-select">
                <option value="all">Todos</option>
                <option value="crossfit">Crossfit</option>
                <option value="fuerza">Fuerza</option>
                <option value="reduccion">Reducción de peso</option>
                <option value="culturismo">Culturismo</option>
                <option value="masculino">Género Masculino</option>
                <option value="femenino">Género Femenino</option>
                <option value="no-especificado">Género No especificado</option>
            </select>
        </div>
    </div>

    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Género</th>
                    <th>Área de especialidad</th>
                    <th>Fecha de contratación</th>
                    <th>Clientes asignados</th>
                </tr>
            </thead>
            <tbody id="tabla-entrenadores">
                @if (Model != null)
                {
                    foreach (var entrenador in Model)
                    {
                        <tr>
                            <td>@entrenador.Identificacion</td>
                            <td>@entrenador.Nombre</td>
                            <td>@entrenador.Telefono</td>
                            <td>@entrenador.Genero</td>
                            <td>@entrenador.Especialidad</td>
                            <td>@entrenador.fechaInicioContrato</td>
                            <td>@entrenador.ClientesAsignados</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <button type="button" id="filtrar" class="btn mt-3">Filtrar</button>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#filtrar').on('click', function () {
            var selectedFilter = $('#filter').val();

            
            $('#loading-spinner').show();

            $.ajax({
                url: '@Url.Action("Filtrar", "Entrenador")',
                type: 'POST',
                data: { filter: selectedFilter },
                success: function (response) {
                    // Imprime en la consola el objeto response
                    console.log("Datos recibidos:", response);

                    $('#tabla-entrenadores').empty();
                    $.each(response.entrenadores, function (index, entrenador) {
                        $('#tabla-entrenadores').append(
                            `<tr>
                    <td>${entrenador.identificacion}</td>
                    <td>${entrenador.nombre}</td>
                    <td>${entrenador.telefono}</td>
                    <td>${entrenador.genero}</td>
                    <td>${entrenador.especialidad}</td>
                    <td>${new Date(entrenador.fechaInicioContrato).toLocaleDateString()}</td>
                    <td>${entrenador.clientesAsignados}</td>
                </tr>`
                        );
                    });
                    $('#total-entrenadores').text(response.totalEntrenadores);
                },
                error: function () {
                    
                    $('#loading-spinner').hide();
                    alert("Error al aplicar el filtro.");
                }
            });
        });
    });

</script>

<style>

    .filter-total-container {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }

    .total-text {
        margin-left:30px;
        font-size: 18px;
    }

    .filter-container {
        display: flex;
        align-items: center;
        margin-right: 15px;
        min-width: 300px;
        padding: 10px;
    }


    .container-grande {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-Asignar {
        margin-top: 40px;
        text-align: center;
        color: #EE1C25;
        font-size: 50px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        word-wrap: break-word;
    }

    .filter-container {
        display: flex;
        align-items: center;
        margin-right: 15px;
        border-radius: 20px;
        padding: 10px;
        min-width: 300px;
        margin-left: auto;
    }

    .custom-select {
        margin-top: 10px;
        text-align: center;
        text-align-last: center;
        border-radius: 20px;
        padding: 0;
        font-size: 1.2rem;
        border: 2px solid #dcdcdc;
        appearance: none;
        background-image: url('/img/flechaAbajo.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .custom-select option {
            text-align: center;
            padding: 10px;
            font-size: 1.2rem;
        }

    .table-container {
        width: 95%;
        margin: 0 auto;
        max-height: 270px;
        overflow-y: auto;
        margin-top: 20px;
    }

    .table thead th {
        background-color: #b3b3b3;
        color: white;
        text-align: center;
    }

    .table tbody tr td {
        background-color: white;
        text-align: center;
    }

    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }

    .btn {
        background-color: red;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 200px;
        height: 45px;
        padding: 10px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        background: #EE1C25;
        border-radius: 40px;
        font-weight: bold;
        line-height: 70px;
        word-wrap: break-word;
        font-size: 20px;
        font-style: italic;
        margin-left: 130px;
        position: absolute;
        bottom: 20px;
        left: 64%;
    }

    .wrapper .btn:hover {
        background-color: darkred;
    }

    .wrapper a:hover {
        color: #039BE5;
    }

    .table-container::-webkit-scrollbar {
        width: 18px;
    }

    .table-container::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #4c4c4c;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

        .table-container::-webkit-scrollbar-thumb:hover {
            background-color: #333333;
        }

    .table-container::-webkit-scrollbar-button:single-button {
        background-color: white;
        display: block;
        height: 18px;
        border-radius: 5px;
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }

        .table-container::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url('/img/flechaArriba.png');
        }

        .table-container::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url('/img/flechaAbajo.png');
        }

    .table-container::-webkit-scrollbar-button {
        width: 18px;
        height: 18px;
    }

    .table-container::-webkit-scrollbar-corner {
        background: #e0e0e0;
    }

</style>
