@model List<NET_MVC.Models.EntrenadorModel>

@{
    ViewData["Title"] = "Asignar Entrenador";
    Layout = "~/Views/Admin/_LayoutAdministrador.cshtml";

    ViewBag.Title = "Asignar Cliente";
    ViewBag.Cliente = "1234";  // Info desde el controlador
    ViewBag.Entrenador = "1111";  // Info desde el controlador

}

<div class="container-grande">
    <div class="text-Asignar" style="text-align: center; color: #EE1C25; font-size: 50px; font-style: italic; font-weight: 900; line-height: 70px; word-wrap: break-word">ASIGNAR ENTRENADOR</div>

    <div class="search-bar">
        <label for="identificacion">Identificación:</label>
        <input type="text" id="identificacion" name="identificacion" placeholder="Ingrese la identificación">
        <button type="button" onclick="openModal()">Asignar</button>
    </div>

    @Html.Partial("_ModalAsignar")

    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Área de especialidad</th>
                    <th>Clientes asignados</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var entrenador in Model)
                {
                    <tr>
                        <td>@entrenador.Id</td>
                        <td>@entrenador.Nombre</td>
                        <td>@entrenador.Especialidad</td>
                        <td>@entrenador.ClientesAsignados</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


<style>
    .container-grande {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-Asignar {
        margin-top: 40px;
        text-align: center;
        color: #EE1C25;
        font-size: 50px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        word-wrap: break-word;
    }

    .table-container {
        width: 95%;
        margin: 0 auto;
        max-height: 300px; 
        overflow-y: auto; 
        margin-top: 10px;
    }

    .table thead th {
        background-color: #b3b3b3;
        color: white;
        text-align: center;
    }

    .table tbody tr td {
        background-color: white;
        text-align: center;
    }

    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 40px;
    }

        .search-bar label {
            padding: 10px 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #969393;
            border-radius: 10px;
            color: black;
            margin-right: 15px;
        }

        .search-bar input[type="text"] {
            width: 60%;
            border: none;
            outline: none;
            background: none;
            font-size: 1.2rem;
            padding: 10px 10px;
            background: white;
            border-radius: 20px;
            height: 40px;
        }

        .search-bar button {
            background-color: #EE1C25; 
            color: white;
            padding: 10px;
            border: none;
            border-radius: 40px; 
            margin-left: 10px;
            text-decoration: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 45px;
            font-family: Inter, sans-serif;
            font-weight: bold; 
            font-size: 20px;
            font-style: italic;
            line-height: 70px;
            word-wrap: break-word;
        }


    .table-container::-webkit-scrollbar {
        width: 18px; 
    }

    .table-container::-webkit-scrollbar-track {
        background: #ffffff; 
        border-radius: 10px;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #4c4c4c; 
        border-radius: 10px;
        border: 3px solid #ffffff; 
    }

        .table-container::-webkit-scrollbar-thumb:hover {
            background-color: #333333; 
        }

    .table-container::-webkit-scrollbar-button:single-button {
        background-color: white;
        display: block;
        height: 18px;
        border-radius: 5px;
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }

        .table-container::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url('/img/flechaArriba.png'); 
        }

        .table-container::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url('/img/flechaAbajo.png'); 
        }

    .table-container::-webkit-scrollbar-button {
        width: 18px;
        height: 18px;
    }

    .table-container::-webkit-scrollbar-corner {
        background: #e0e0e0; 
    }

</style>
