@model List<NET_MVC.Models.ClienteModel>

@{
    ViewData["Title"] = "Listar Cliente";
    Layout = "~/Views/Entrenador/_LayoutEntrenador.cshtml";
}

<div class="container-grande">
    <div class="text-Asignar" style="text-align: center;
    color: #EE1C25; font-size: 50px; font-style: italic;
    font-weight: 900; line-height: 70px; word-wrap: break-word">
        CLIENTES
    </div>

    <form id="buscarClienteForm" method="post" asp-action="BuscarCliente">
        <div class="search-bar">
            <label for="identificacion">Identificación:</label>
            <input type="text" id="identificacion" name="identificacion" placeholder="Ingrese la identificación">

            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Membresia</th>
                    <th class="small-column">Días restantes de membresía</th>
                </tr>
            </thead>
            <tbody id="tabla-clientes">
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Identificacion</td>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.refMembresia</td>
                        <td>@cliente.DiasRestantes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {

         <script>
            const tempDataErrorMessage = "@TempData["ErrorMessage"]";

            console.log("Error Message from TempData:", tempDataErrorMessage);
        </script>

        <div class="error-message">
            @TempData["ErrorMessage"]
        </div>
    }
    else if (!string.IsNullOrEmpty(ViewData["ValidationError"] as string))
    {
        <div class="error-message">
            @ViewData["ValidationError"]
        </div>
    }
</div>

<!-- Asegúrate de que jQuery esté cargado -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
            const tempDataErrorMessage = "@TempData["ErrorMessage"]";

            console.log("Error Message from TempData:", tempDataErrorMessage);
        </script>
<style>

    .search-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 40px;
    }

        .search-bar label {
            padding: 10px 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #969393;
            border-radius: 10px;
            color: black;
            margin-right: 15px;
        }

        .search-bar input[type="text"] {
            width: 60%;
            border: none;
            outline: none;
            background: none;
            font-size: 1.2rem;
            padding: 10px 10px;
            background: white;
            border-radius: 20px;
            height: 40px;
        }

        .search-bar button {
            background-color: #EE1C25;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 40px;
            margin-left: 10px;
            text-decoration: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 45px;
            font-family: Inter, sans-serif;
            font-weight: bold;
            font-size: 20px;
            font-style: italic;
            line-height: 70px;
            word-wrap: break-word;
        }


    .filter-total-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .total-text {
        margin-left: 30px;
        font-size: 18px;
    }

    .filter-container {
        display: flex;
        align-items: center;
        margin-right: 15px;
        min-width: 300px;
        padding: 10px;
    }

    .container-grande {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-Asignar {
        margin-top: 40px;
        text-align: center;
        color: #EE1C25;
        font-size: 50px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        word-wrap: break-word;
    }

    .filter-container {
        display: flex;
        align-items: center;
        margin-right: 15px;
        border-radius: 20px;
        padding: 10px;
        min-width: 300px;
        margin-left: auto;
    }


    .table-container {
        width: 95%;
        margin: 0 auto;
        max-height: 270px;
        overflow-y: auto;
        margin-top: 10px;
    }

    .table thead th {
        background-color: #b3b3b3;
        color: white;
        text-align: center;
    }

    .table tbody tr td {
        background-color: white;
        text-align: center;
    }

    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }

    .wrapper a:hover {
        color: #039BE5;
    }

    .table-container::-webkit-scrollbar {
        width: 18px;
    }

    .table-container::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #4c4c4c;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

        .table-container::-webkit-scrollbar-thumb:hover {
            background-color: #333333;
        }

    .table-container::-webkit-scrollbar-button:single-button {
        background-color: white;
        display: block;
        height: 18px;
        border-radius: 5px;
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }

        .table-container::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url('/img/flechaArriba.png');
        }

        .table-container::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url('/img/flechaAbajo.png');
        }

    .table-container::-webkit-scrollbar-button {
        width: 18px;
        height: 18px;
    }

    .table-container::-webkit-scrollbar-corner {
        background: #e0e0e0;
    }

    .small-column {
        width: 200px; /* Puedes ajustar el ancho según lo necesario */
        text-align: center;
    }

    .error-message {
        position: absolute;
        bottom: 10px;
        left: 30px;
        font-size: 20px;
        color: red;
    }
</style>